<a href="https://colab.research.google.com/github/OlgaGutnikova/python_course/blob/main/Task_44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [3]:
data = pd.DataFrame({'whoAmI':lst})
data.head(10)

  whoAmI
0  robot
1  robot
2  human
3  human
4  human
5  human
6  robot
7  robot
8  human
9  robot

In [5]:
from sklearn. preprocessing import OneHotEncoder

In [6]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [7]:
encoder_df = pd.DataFrame(encoder. fit_transform(data[['whoAmI']]). toarray ())

In [8]:
final_df = data.join (encoder_df)

In [9]:
print(final_df)

   whoAmI    0    1
0   robot  0.0  1.0
1   robot  0.0  1.0
2   human  1.0  0.0
3   human  1.0  0.0
4   human  1.0  0.0
5   human  1.0  0.0
6   robot  0.0  1.0
7   robot  0.0  1.0
8   human  1.0  0.0
9   robot  0.0  1.0
10  human  1.0  0.0
11  robot  0.0  1.0
12  robot  0.0  1.0
13  human  1.0  0.0
14  robot  0.0  1.0
15  robot  0.0  1.0
16  human  1.0  0.0
17  human  1.0  0.0
18  human  1.0  0.0
19  robot  0.0  1.0

In [10]:
final_df.drop('whoAmI', axis= 1 , inplace= True )

In [11]:
print(final_df)

      0    1
0   0.0  1.0
1   0.0  1.0
2   1.0  0.0
3   1.0  0.0
4   1.0  0.0
5   1.0  0.0
6   0.0  1.0
7   0.0  1.0
8   1.0  0.0
9   0.0  1.0
10  1.0  0.0
11  0.0  1.0
12  0.0  1.0
13  1.0  0.0
14  0.0  1.0
15  0.0  1.0
16  1.0  0.0
17  1.0  0.0
18  1.0  0.0
19  0.0  1.0

In [12]:
final_df.columns = ['human', 'robot']

In [13]:
print(final_df)

    human  robot
0     0.0    1.0
1     0.0    1.0
2     1.0    0.0
3     1.0    0.0
4     1.0    0.0
5     1.0    0.0
6     0.0    1.0
7     0.0    1.0
8     1.0    0.0
9     0.0    1.0
10    1.0    0.0
11    0.0    1.0
12    0.0    1.0
13    1.0    0.0
14    0.0    1.0
15    0.0    1.0
16    1.0    0.0
17    1.0    0.0
18    1.0    0.0
19    0.0    1.0

In [4]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       0      1
2       1      0
3       1      0
4       1      0
5       1      0
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      0      1
16      1      0
17      1      0
18      1      0
19      0      1